
.app-container{
    margin: 40px;
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    text-align: center;

    &__title{
        margin-bottom: 10px;
    }
}